# IR 4. for문, R을 이용한 평가원 문제 풀이 2
> "작성완료"

- toc:true
- branch: master
- badges: true
- comments: true
- [R]

---
# Introduce R 
- lenture: Introduce R_3nd week of lectures.
- lenture date: 2021-09-28
- lecturer: Guebin choi
- study date: 2022-02-08
- author: Kione kim
---

In [ ]:
#hide
options(jupyter.plot_scale=3)
options(jupyter.display_mimetypes=c("text/html"))
options(jupyter.rich_display=FALSE)
options(repr.plot.width=6,repr.plot.height=6,repr.plot.res=300)
options(max.print=1000)

## For문

In [ ]:
s=0
for(i in 1:4){ #1:4 = c(1,2,3,4)
   s=s+i
}
s

[1] 10

- 위의 for문은 아래의 코드와 같음

In [ ]:
s=0

i=1
s=s+i
i=2
s=s+i
i=3
s=s+i
i=4
s=s+i

s

[1] 10

## 2007(나) 6월/평가원 14(고3)

다음은 어느 회사의 연봉에 대한 규정이다.

(가) 입사 첫째 해 연봉은 a원이고, 입사 19년째 해까지의 연봉은 해마다 직전 연봉에서 8%씩 인상된다.

(나) 입사 20년째 해부터의 연봉은 입사 19년째 해 연봉의 2/3로 한다.

`문제` 이 회사에 입사한 사람이 28년동안 근무하여 받는 연봉의 총합은? (단, $1.08^{18}=4$로 계산한다)

(1) $\frac{101}{2}a$

(2) $\frac{111}{2}a$

(3) $\frac{121}{2}a$

(4) $\frac{131}{2}a$

(5) $\frac{141}{2}a$

In [ ]:
a <- c()
a[1]=1
for(i in 2:19){
    a[i]=a[i-1]*1.08
}
a

 [1] 1.000000 1.080000 1.166400 1.259712 1.360489 1.469328 1.586874 1.713824
 [9] 1.850930 1.999005 2.158925 2.331639 2.518170 2.719624 2.937194 3.172169
[17] 3.425943 3.700018 3.996019

In [ ]:
for(i in 20:28){
    a[i]=a[19]*2/3
}
a

 [1] 1.000000 1.080000 1.166400 1.259712 1.360489 1.469328 1.586874 1.713824
 [9] 1.850930 1.999005 2.158925 2.331639 2.518170 2.719624 2.937194 3.172169
[17] 3.425943 3.700018 3.996019 2.664013 2.664013 2.664013 2.664013 2.664013
[25] 2.664013 2.664013 2.664013 2.664013

In [ ]:
sum(a)

[1] 65.42238

- 답은 65.42238이다.

In [ ]:
a=1
for(i in 2:19){
    a=a*1.08
}
a

[1] 3.996019

- 위의 코드는 19번째 연봉을 구할 수는 있으나, 20번째 이후의 연봉을 구할 수 없다.

## 2004(인)/수능(홀) 19(고3)

`-` 자료 $x_1,x_2, ... ,x_{100}$에 대하여 다음 과정을 순서대로 시행하였다.

(가) 처음 두 수 $x_1$과 $x_2$의 평균을 구한다.

(나) $x_3$을 추가하여 $x_1,x_2,x_3$의 평균을 구한다.

(다) $x_4$을 추가하여 $x_1,x_2,x_3,x_4$의 평균을 구한다.

...

$x_{100}$을 추가하여 $x_1,x_2,x_3,...,x_{100}$의 평균을 구한다.

`문제` 위의 과정을 시행할 결과, $x_1$과 $x_2$의 평균이 5이고, 자료 하나가 추가될때 마다 평균이 1씩 증가하였다. 이때 $x_{100}$의 값은? 

(1) 194

(2) 196

(3) 198

(4) 200

(5) 202

In [ ]:
x <- c()
x[1]=5
x[2]=5

In [ ]:
for(i in 3:100){
    temp_ = mean(x[1:(i-1)])+1 # temp_는 1~i까지의 평균(i=3, mean(x[1:2])=5이고 +1은 6)
    sum_ = temp_*i # sum_는 1~i까지의 원소의 합(i=3, sum_는 6*3)
    x[i] = sum_ - sum(x[1:(i-1)]) # x[i]값
}
x

  [1]   5   5   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38
 [19]  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72  74
 [37]  76  78  80  82  84  86  88  90  92  94  96  98 100 102 104 106 108 110
 [55] 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146
 [73] 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182
 [91] 184 186 188 190 192 194 196 198 200 202

In [ ]:
x[100]

[1] 202

## 2010(나)/수능(홀) 30(고3)

`문제` 수열 $\{a_n\}$에 대하여 첫째항부터 제 $n$항까지의 합을 $S_n$이라고 하자. 수열 $\{S_{2n-1}\}$은 공차가 -3인 등차수열이고, 수열 $\{S_{2n}\}$은 공차가 2인 등차수열이다. $a_2=1$일 때, $a_8$의 값을 구하시오.

$S_3=S_1-3$ 

$S_5=S_3-3$ 

... 


$S_4=S_2+2$

$S_6=S_4+2$ 

... 어떤 식으로 코드를 작성해야 할지 도움을 준다.

In [ ]:
a <- c()
a[1] = 0 # 일단 0이라고 하자.
a[2] = 1

In [ ]:
s <- c()
s[1] = a[1]
s[2] = a[1]+a[2]

```R
구현해야 할 코드:
for(n in 3:100){
    n이 홀수라면(n %% == 1)
    s[n] = s[n-2]-3
    n이 짝수라면(n %% == 0)
    s[n] = s[n-2]+2
}        
s
```

`-` 위처럼 구현하기 위해선, 1) 홀수인지 짝수인지 판단하기 위해 나머지(%%) 함수를 활용해야 하고 2) 이를 if문을 통해 구현해야 한다.

In [ ]:
1:10 %% 2 # %%는 나머지 값을 나타내줌.

 [1] 1 0 1 0 1 0 1 0 1 0

In [ ]:
1:10 %% 3

 [1] 1 2 0 1 2 0 1 2 0 1

In [ ]:
for(n in 3:100){
    if(n%%2 == 1){
        s[n]=s[n-2]-3
    }else{
        s[n]=s[n-2]+2
    }
}

In [ ]:
s

  [1]    0    1   -3    3   -6    5   -9    7  -12    9  -15   11  -18   13  -21
 [16]   15  -24   17  -27   19  -30   21  -33   23  -36   25  -39   27  -42   29
 [31]  -45   31  -48   33  -51   35  -54   37  -57   39  -60   41  -63   43  -66
 [46]   45  -69   47  -72   49  -75   51  -78   53  -81   55  -84   57  -87   59
 [61]  -90   61  -93   63  -96   65  -99   67 -102   69 -105   71 -108   73 -111
 [76]   75 -114   77 -117   79 -120   81 -123   83 -126   85 -129   87 -132   89
 [91] -135   91 -138   93 -141   95 -144   97 -147   99

In [ ]:
s[8]-s[7]

[1] 16

- 답은 16이다.
- 한 가지 의문점: a[1]=0으로 일단 놓았는데, 이 값에 대해 문제에서 정의하지 않았다. 만약 a[1]이 0이 아닌 다른 값이라면 앞서 구한 값도 달라지는 것은 아닐까?

In [ ]:
a <- c()
a[1] = 100 # 일단 0이라고 하자.
a[2] = 1

In [ ]:
s <- c()
s[1] = a[1]
s[2] = a[1]+a[2]

In [ ]:
for(n in 3:100){
    if(n%%2 == 1){
        s[n]=s[n-2]-3
    }else{
        s[n]=s[n-2]+2
    }
}
s

  [1] 100 101  97 103  94 105  91 107  88 109  85 111  82 113  79 115  76 117
 [19]  73 119  70 121  67 123  64 125  61 127  58 129  55 131  52 133  49 135
 [37]  46 137  43 139  40 141  37 143  34 145  31 147  28 149  25 151  22 153
 [55]  19 155  16 157  13 159  10 161   7 163   4 165   1 167  -2 169  -5 171
 [73]  -8 173 -11 175 -14 177 -17 179 -20 181 -23 183 -26 185 -29 187 -32 189
 [91] -35 191 -38 193 -41 195 -44 197 -47 199

In [ ]:
s[8]-s[7]

[1] 16

- a[1]에 다른 값을 놓아도 a[8]이 달라지지 않는다.