# IR 16. 데이터프레임과 티블 2

> "작성완료"

- toc:true
- branch: master
- badges: true
- comments: true
- [R]

---
# Introduce R 
- lecture: Introduce R_12-2nd week of lectures
- lecture date: 2021-11-30
- lecturer: Guebin choi
- study date: 2022-03-04
- author: Kione kim
---

In [ ]:
#hide
options(jupyter.plot_scale=3)
options(jupyter.display_mimetypes=c("text/html"))
options(jupyter.rich_display=FALSE)
options(repr.plot.width=6,repr.plot.height=6,repr.plot.res=300)
options(max.print=200)
library(tidyverse)

## 데이터프레임과 티블

### NA

`-` NA가 포함되어도 개별연산은 가능

In [ ]:
x = c(1,2,NA,4,5)
x

[1]  1  2 NA  4  5

In [ ]:
x+1

[1]  2  3 NA  5  6

`-` 그런데 summarise에 쓰는 연산은 불가능

In [ ]:
mean(x)

[1] NA

In [ ]:
max(x)

[1] NA

In [ ]:
sd(x)

[1] NA

`-` 수정: `na.rm = TRUE` 사용

In [ ]:
mean(x,na.rm = TRUE)

[1] 3

In [ ]:
max(x,na.rm = TRUE)

[1] 5

`-` 데이터프레임에서도 비슷

In [ ]:
tibble(x) %>% mutate(z=x+1)

  x  z
1  1  2
2  2  3
3 NA NA
4  4  5
5  5  6

- 마찬가지로 개별연산은 가능

In [ ]:
tibble(x) %>% summarise(z=mean(x))

  z
1 NA

In [ ]:
tibble(x) %>% mutate(z=mean(x))

  x  z
1  1 NA
2  2 NA
3 NA NA
4  4 NA
5  5 NA

- 마찬가지로 summarise에 쓰는 연산은 불가능

In [ ]:
tibble(x) %>% summarise(z=mean(x,na.rm = TRUE))

  z
1 3

In [ ]:
tibble(x) %>% mutate(z=mean(x,na.rm = TRUE))

  x  z
1  1 3
2  2 3
3 NA 3
4  4 3
5  5 3

`-` NA를 무조건 없애는 것이 좋은가?

In [ ]:
x <- c(NA,2,3,4)
y <- c(1,NA,3,4)
z <- c(1,2,NA,4)
w <- c(1,2,3,NA)

In [ ]:
tibble(x,y,z,w)

  x  y  z  w
1 NA  1  1  1
2  2 NA  2  2
3  3  3 NA  3
4  4  4  4 NA

In [ ]:
tibble(x,y,z,w) %>% mutate(xy=x+y)

  x  y  z  w  xy
1 NA  1  1  1 NA
2  2 NA  2  2 NA
3  3  3 NA  3  6
4  4  4  4 NA  8

In [ ]:
tibble(x,y,z,w) %>% mutate(xy=x+y) %>% summarise(mean_xy = mean(xy,na.rm = TRUE))

  mean_xy
1 7

- NA를 살려두는 것이 좋을 수도 있음(데이터가 부족할 수 있으니)

`-` 결측치를 제외할까 포함시킬까?

In [ ]:
x <- c(1,2,3,4,NA,5,6,7)
y <- c(-1,-2,-3,-4,-100,-5,-6,-7)

In [ ]:
df <- tibble(x,y)
df

  x  y
1  1   -1
2  2   -2
3  3   -3
4  4   -4
5 NA -100
6  5   -5
7  6   -6
8  7   -7

In [ ]:
df %>% filter(x>3, x<7)

  x y
1 4 -4
2 5 -5
3 6 -6

- y값 중 $-100$은 사라짐, NA가 특정한 값을 갖는 것이 아니기 때문에 NA에 해당하는 값을 제외시킬지 포함시킬지 판단이 필요함

`-` 결측치를 살리려면??

In [ ]:
df %>% filter(is.na(x))

  x  y
1 NA -100

In [ ]:
df %>% filter(is.na(x) | (x>3 & x<7))

ERROR: Error: Problem with `filter()` input `..1`.
i Input `..1` is `is.na(x) | (x > 3 & x < 7)`.
x 객체 'x'를 찾을 수 없습니다

### 실습

In [ ]:
# install.packages("nycflights13")
library(nycflights13)

`-` 데이터

In [ ]:
df = flights

`-` 1월 1일의 모든 항공편을 선택

In [ ]:
df %>% filter(month==1, day==1)

    year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1   2013 1     1   517      515             2         830      819
2   2013 1     1   533      529             4         850      830
3   2013 1     1   542      540             2         923      850
4   2013 1     1   544      545            -1        1004     1022
5   2013 1     1   554      600            -6         812      837
6   2013 1     1   554      558            -4         740      728
7   2013 1     1   555      600            -5         913      854
8   2013 1     1   557      600            -3         709      723
9   2013 1     1   557      600            -3         838      846
10  2013 1     1   558      600            -2         753      745
    arr_delay carrier flight tailnum origin dest air_time distance hour minute
1    11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2    20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3    33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4   -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5   -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6    12       UA      1696   N39463  EWR    ORD  150       719     5    58
7    19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8   -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9    -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10    8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
    time_hour
1   2013-01-01 05:00:00
2   2013-01-01 05:00:00
3   2013-01-01 05:00:00
4   2013-01-01 05:00:00
5   2013-01-01 06:00:00
6   2013-01-01 05:00:00
7   2013-01-01 06:00:00
8   2013-01-01 06:00:00
9   2013-01-01 06:00:00
10  2013-01-01 06:00:00
 [ getOption("max.print") 에 도달했습니다 -- 51 행들을 생략합니다 ]

`-` 11~12월 출발 항공편

In [ ]:
df %>% filter(month==11 | month==12)

      year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1     2013 11    1     5      2359             6       352       345
2     2013 11    1    35      2250           105       123      2356
3     2013 11    1   455       500            -5       641       651
4     2013 11    1   539       545            -6       856       827
5     2013 11    1   542       545            -3       831       855
6     2013 11    1   549       600           -11       912       923
7     2013 11    1   550       600           -10       705       659
8     2013 11    1   554       600            -6       659       701
9     2013 11    1   554       600            -6       826       827
10    2013 11    1   554       600            -6       749       751
      arr_delay carrier flight tailnum origin dest air_time distance hour
1       7       B6       745   N568JB  JFK    PSE  205      1617     23
2      87       B6      1816   N353JB  JFK    SYR   36       209     22
3     -10       US      1895   N192UW  EWR    CLT   88       529      5
4      29       UA      1714   N38727  LGA    IAH  229      1416      5
5     -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5
6     -11       UA       303   N595UA  JFK    SFO  359      2586      6
7       6       US      2167   N748UW  LGA    DCA   57       214      6
8      -2       US      2134   N742PS  LGA    BOS   40       184      6
9      -1       DL       563   N912DE  LGA    ATL  126       762      6
10     -2       DL       731   N315NB  LGA    DTW   93       502      6
      minute time_hour
1     59     2013-11-01 23:00:00
2     50     2013-11-01 22:00:00
3      0     2013-11-01 05:00:00
4     45     2013-11-01 05:00:00
5     45     2013-11-01 05:00:00
6      0     2013-11-01 06:00:00
7      0     2013-11-01 06:00:00
8      0     2013-11-01 06:00:00
9      0     2013-11-01 06:00:00
10     0     2013-11-01 06:00:00
 [ getOption("max.print") 에 도달했습니다 -- 51 행들을 생략합니다 ]

`-` 더 확장성 있는 코드

In [ ]:
df %>% filter(month %in% c(11,12))

      year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1     2013 11    1     5      2359             6       352       345
2     2013 11    1    35      2250           105       123      2356
3     2013 11    1   455       500            -5       641       651
4     2013 11    1   539       545            -6       856       827
5     2013 11    1   542       545            -3       831       855
6     2013 11    1   549       600           -11       912       923
7     2013 11    1   550       600           -10       705       659
8     2013 11    1   554       600            -6       659       701
9     2013 11    1   554       600            -6       826       827
10    2013 11    1   554       600            -6       749       751
      arr_delay carrier flight tailnum origin dest air_time distance hour
1       7       B6       745   N568JB  JFK    PSE  205      1617     23
2      87       B6      1816   N353JB  JFK    SYR   36       209     22
3     -10       US      1895   N192UW  EWR    CLT   88       529      5
4      29       UA      1714   N38727  LGA    IAH  229      1416      5
5     -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5
6     -11       UA       303   N595UA  JFK    SFO  359      2586      6
7       6       US      2167   N748UW  LGA    DCA   57       214      6
8      -2       US      2134   N742PS  LGA    BOS   40       184      6
9      -1       DL       563   N912DE  LGA    ATL  126       762      6
10     -2       DL       731   N315NB  LGA    DTW   93       502      6
      minute time_hour
1     59     2013-11-01 23:00:00
2     50     2013-11-01 22:00:00
3      0     2013-11-01 05:00:00
4     45     2013-11-01 05:00:00
5     45     2013-11-01 05:00:00
6      0     2013-11-01 06:00:00
7      0     2013-11-01 06:00:00
8      0     2013-11-01 06:00:00
9      0     2013-11-01 06:00:00
10     0     2013-11-01 06:00:00
 [ getOption("max.print") 에 도달했습니다 -- 51 행들을 생략합니다 ]

`-` arr_delay <= 120이고 dep_delay <= 120 인 항공편

In [ ]:
df %>% filter(arr_delay <= 120 & dep_delay <= 120)

       year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1      2013 1     1   517      515             2         830      819
2      2013 1     1   533      529             4         850      830
3      2013 1     1   542      540             2         923      850
4      2013 1     1   544      545            -1        1004     1022
5      2013 1     1   554      600            -6         812      837
6      2013 1     1   554      558            -4         740      728
7      2013 1     1   555      600            -5         913      854
8      2013 1     1   557      600            -3         709      723
9      2013 1     1   557      600            -3         838      846
10     2013 1     1   558      600            -2         753      745
       arr_delay carrier flight tailnum origin dest air_time distance hour
1       11       UA      1545   N14228  EWR    IAH  227      1400     5
2       20       UA      1714   N24211  LGA    IAH  227      1416     5
3       33       AA      1141   N619AA  JFK    MIA  160      1089     5
4      -18       B6       725   N804JB  JFK    BQN  183      1576     5
5      -25       DL       461   N668DN  LGA    ATL  116       762     6
6       12       UA      1696   N39463  EWR    ORD  150       719     5
7       19       B6       507   N516JB  EWR    FLL  158      1065     6
8      -14       EV      5708   N829AS  LGA    IAD   53       229     6
9       -8       B6        79   N593JB  JFK    MCO  140       944     6
10       8       AA       301   N3ALAA  LGA    ORD  138       733     6
       minute time_hour
1      15     2013-01-01 05:00:00
2      29     2013-01-01 05:00:00
3      40     2013-01-01 05:00:00
4      45     2013-01-01 05:00:00
5       0     2013-01-01 06:00:00
6      58     2013-01-01 05:00:00
7       0     2013-01-01 06:00:00
8       0     2013-01-01 06:00:00
9       0     2013-01-01 06:00:00
10      0     2013-01-01 06:00:00
 [ getOption("max.print") 에 도달했습니다 -- 51 행들을 생략합니다 ]

`-` 변수이름을 확인

In [ ]:
df %>% colnames

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [ ]:
df %>% names

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

- names도 colnames와 마찬가지로 변수이름을 확인할 수 있다

`-` 아래의 수식을 이용하여 gain, speed를 계산하자.   
`1)` gain = dep_delay - arr_delay   
`2)` speed = distance/air_time

`-` 다음과 같이 필요한 변수(중요한 변수 + 관심있는 변수)만 추출하자   
- year~day
- delay로 끝나는 변수
- distance, air_time

In [ ]:
df %>% select(year:day, ends_with('delay'), air_time:distance)

       year month day dep_delay arr_delay air_time distance
1      2013 1     1    2         11       227      1400
2      2013 1     1    4         20       227      1416
3      2013 1     1    2         33       160      1089
4      2013 1     1   -1        -18       183      1576
5      2013 1     1   -6        -25       116       762
6      2013 1     1   -4         12       150       719
7      2013 1     1   -5         19       158      1065
8      2013 1     1   -3        -14        53       229
9      2013 1     1   -3         -8       140       944
10     2013 1     1   -2          8       138       733
11     2013 1     1   -2         -2       149      1028
12     2013 1     1   -2         -3       158      1005
13     2013 1     1   -2          7       345      2475
14     2013 1     1   -2        -14       361      2565
15     2013 1     1   -1         31       257      1389
16     2013 1     1    0         -4        44       187
17     2013 1     1   -1         -8       337      2227
18     2013 1     1    0         -7       152      1076
19     2013 1     1    0         12       134       762
20     2013 1     1    1         -6       147      1023
21     2013 1     1   -8         -8       170      1020
22     2013 1     1   -3         16       105       502
23     2013 1     1   -4        -12       152      1085
24     2013 1     1   -4         -8       128       760
25     2013 1     1    0        -17       157      1085
26     2013 1     1    8         32       139       719
27     2013 1     1   11         14       366      2586
28     2013 1     1    3          4       175      1074
 [ getOption("max.print") 에 도달했습니다 -- 33 행들을 생략합니다 ]

In [ ]:
df %>% select(year:day, ends_with('delay'), air_time:distance) %>%
mutate(gain = dep_delay - arr_delay, speed = distance/air_time)

       year month day dep_delay arr_delay air_time distance gain speed
1      2013 1     1    2         11       227      1400      -9  6.167401
2      2013 1     1    4         20       227      1416     -16  6.237885
3      2013 1     1    2         33       160      1089     -31  6.806250
4      2013 1     1   -1        -18       183      1576      17  8.612022
5      2013 1     1   -6        -25       116       762      19  6.568966
6      2013 1     1   -4         12       150       719     -16  4.793333
7      2013 1     1   -5         19       158      1065     -24  6.740506
8      2013 1     1   -3        -14        53       229      11  4.320755
9      2013 1     1   -3         -8       140       944       5  6.742857
10     2013 1     1   -2          8       138       733     -10  5.311594
11     2013 1     1   -2         -2       149      1028       0  6.899329
12     2013 1     1   -2         -3       158      1005       1  6.360759
13     2013 1     1   -2          7       345      2475      -9  7.173913
14     2013 1     1   -2        -14       361      2565      12  7.105263
15     2013 1     1   -1         31       257      1389     -32  5.404669
16     2013 1     1    0         -4        44       187       4  4.250000
17     2013 1     1   -1         -8       337      2227       7  6.608309
18     2013 1     1    0         -7       152      1076       7  7.078947
19     2013 1     1    0         12       134       762     -12  5.686567
20     2013 1     1    1         -6       147      1023       7  6.959184
21     2013 1     1   -8         -8       170      1020       0  6.000000
22     2013 1     1   -3         16       105       502     -19  4.780952
 [ getOption("max.print") 에 도달했습니다 -- 39 행들을 생략합니다 ]

`-` year, month, day 로 그룹핑을 하고 평균속도와 평균gain을 계산해보자.

In [ ]:
df %>% select(year:day, ends_with('delay'), air_time:distance) %>%
mutate(gain = dep_delay - arr_delay, speed = distance/air_time) %>%
group_by(year,month,day) %>% summarise(speed_mean= mean(speed),gain_mean= mean(gain))

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

    year month day speed_mean gain_mean
1   2013 1      1  NA         NA
2   2013 1      2  NA         NA
3   2013 1      3  NA         NA
4   2013 1      4  NA         NA
5   2013 1      5  NA         NA
6   2013 1      6  NA         NA
7   2013 1      7  NA         NA
8   2013 1      8  NA         NA
9   2013 1      9  NA         NA
10  2013 1     10  NA         NA
11  2013 1     11  NA         NA
12  2013 1     12  NA         NA
13  2013 1     13  NA         NA
14  2013 1     14  NA         NA
15  2013 1     15  NA         NA
16  2013 1     16  NA         NA
17  2013 1     17  NA         NA
18  2013 1     18  NA         NA
19  2013 1     19  NA         NA
20  2013 1     20  NA         NA
21  2013 1     21  NA         NA
22  2013 1     22  NA         NA
23  2013 1     23  NA         NA
24  2013 1     24  NA         NA
25  2013 1     25  NA         NA
26  2013 1     26  NA         NA
27  2013 1     27  NA         NA
28  2013 1     28  NA         NA
29  2013 1     29  NA         NA
30  2013 1     30  NA         NA
<U+22EE>   <U+22EE> <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
336 2013 12     2  NA         NA
337 2013 12     3  NA         NA
338 2013 12     4  NA         NA
339 2013 12     5  NA         NA
340 2013 12     6  NA         NA
341 2013 12     7  NA         NA
342 2013 12     8  NA         NA
343 2013 12     9  NA         NA
344 2013 12    10  NA         NA
 [ getOption("max.print") 에 도달했습니다 -- 21 행들을 생략합니다 ]

- 결측값이 있어 계산되지 않았음 -> `na.rm=TRUE` 사용

In [ ]:
df %>% select(year:day, ends_with('delay'), air_time:distance) %>%
mutate(gain = dep_delay - arr_delay, speed = distance/air_time) %>%
group_by(year,month,day) %>% summarise(speed_mean= mean(speed,na.rm = TRUE),gain_mean= mean(gain,na.rm = TRUE))

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

    year month day speed_mean gain_mean
1   2013 1      1  5.956879   -1.2154031
2   2013 1      2  6.085977    0.9849138
3   2013 1      3  6.163061    5.1744444
4   2013 1      4  6.389652   10.8986784
5   2013 1      5  6.259174    7.2580195
6   2013 1      6  6.146544    2.9095296
7   2013 1      7  6.488469   10.3645161
8   2013 1      8  6.215331    5.7858744
9   2013 1      9  6.021767    2.5655095
10  2013 1     10  6.375353    8.7438105
11  2013 1     11  6.326487    7.5954198
12  2013 1     12  6.613691   14.6093979
13  2013 1     13  6.353392    4.6877323
14  2013 1     14  6.018617   -0.8418202
15  2013 1     15  5.918271   -0.3019296
16  2013 1     16  5.819344   -9.7924971
17  2013 1     17  5.923112    1.1923497
18  2013 1     18  6.207338    4.9263736
19  2013 1     19  6.340853   11.8882265
20  2013 1     20  6.098927    3.0640205
21  2013 1     21  5.911828    1.5232816
22  2013 1     22  5.966793    0.2225989
23  2013 1     23  6.081496    3.6925676
24  2013 1     24  6.305144    4.1156388
25  2013 1     25  6.177677   -5.3469852
26  2013 1     26  6.342779    6.4619970
27  2013 1     27  6.371808    9.6972705
28  2013 1     28  6.288730    5.7794632
29  2013 1     29  6.297918    9.1047181
30  2013 1     30  6.072084    2.0226131
<U+22EE>   <U+22EE> <U+22EE> <U+22EE> <U+22EE>   <U+22EE>
336 2013 12     2  6.538165     8.6172345
337 2013 12     3  6.385837     3.7637306
338 2013 12     4  6.374694     5.5354497
339 2013 12     5  6.315847     0.7886279
340 2013 12     6  6.088300    -4.9424779
341 2013 12     7  6.083830    -0.5210210
342 2013 12     8  6.015119   -16.0335404
343 2013 12     9  5.927017    -7.9688889
344 2013 12    10  5.851833   -18.0433018
 [ getOption("max.print") 에 도달했습니다 -- 21 행들을 생략합니다 ]

`-` 추가학습

강화유리와 유리를 구분할 수 있는 유리 장인이 있다.

이 유리장인은 80퍼센트의 확률로 강화유리를 고른다.

총 10명의 참가자가 있고 이 참가자들은 (유리,강화유리)의 조합으로 이루어진 징검다리를 5번연속으로 건너야 한다.

아래의 경우에 참가자들은 평균적으로 몇명이 살아남겠는가?

`1) 일반인1 - 일반인2 - .... - 일반인9 - 유리장인 || (강화유리, 유리)`

`2) 유리장인 - 일반인1 - 일반인2 - ... - 일반인9 || (강화유리, 유리)`

1000번 시뮬레이션을 하여 결과를 추정하라.

(단, 일반인은 50%의 확률로 강화유리를 고를수 있다고 하자)

[예시] (1)의 시뮬레이션 결과가 아래와 같다고 하자.

- 첫번째 징검다리: 유리장인이 강화유리 선택
- 두번째 징검다리: 유리장인이 강화유리 선택
- 세번째 징검다리: 유리장인이 일반유리 선택 \to→ 유리장인 탈락 & 일반인9는 당연히 강화유리를 선택
- 네번째 징검다리: 일반인9가 일반유리 선택 \to→ 일반인9 탈락 & 일반인8은 당연히 강화유리 선택
- 다섯번째 징검다리: 일반인8이 강화유리 선택
이 경우는 일반인8,일반인7, \dots…, 일반인1이 살아남으므로 8명이 살아남는다.

[예시] (2)의 시뮬레이션 결과가 아래와 같다고 하자.

- 첫번째 징검다리: 일반인9 일반유리 선택 \to→ 일반인9 탈락 & 일반인8은 강화유리 선택
- 두번째 징검다리: 일반인8 일반유리 선택 \to→ 일반인8 탈락 & 일반인7은 강화유리 선택
- 세번째 징검다리: 일반인7 일반유리 선택 \to→ 일반인7 탈락 & 일반인6은 강화유리 선택
- 네번째 징검다리: 일반인6 일반유리 선택 \to→ 일반인6 탈락 & 일반인5는 강화유리 선택
- 다섯번째 징검다리: 일반인5 일반유리 선택 \to→ 일반인5 탈락 & 일반인4는 강화유리 선택
이 경우는 일반인4,일반인3,일반인2,일반인1,유리장인 이 살아남는다. (따라서 5명)

`-` 즉 살아남을수 있는 최대인원수는 10명이며 최소인원수는 5명이다.

`-` 유리장인이 100%의 확률로 강화유리를 구분한다면 (1)의 경우 항상 10명이 살아남는다. (즉 평균도 10명)